.sidebar {
    background-color: white;
}

body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    transition: margin-left .3s ease-in-out;
    margin-right: 0;
    margin-left: 0;
}

.green {
    color: green;
}

.rating i.filled {
    color: #f4c150;
}

.category-span {
    line-height: 1.5;
    font-size: 16px;
    cursor: pointer;
    display: inherit;
}